  {% extends "base.html" %}

  {% block content %}
  <div class="container">
    <section class="section is-medium section-main">
        <h1 class="text-grads-1">$v$ Money Money Money $v$</h1>
        <div class="tile is-ancestor">
          <div class="tile is-parent tile-main">
            <div class="tile is-child box box-main">
              <div class="box-intro">
                  <div class="box-intro-inner">
                    <h2 class="title text-grads-2">Show me your money!</h2>
                  </div>
              </div>
              <article class="tile is-child box-upload-file">                    
                <div id="my-camera"></div>
                <form id="form-capture-image">
                  <input type="hidden" value="" id="input-data-uri">
                  <a href="#" class="button btn-capture-image is-primary is-medium">Take Photo</a>
                </form>
                <div id="loading"></div>
                <div id="results" class="hidden">
                  <div class="inner">
                    <h3 class="title text-grads-3">Your Photo</h3>
                    <img id="taken-photo" src="#" alt="" />
                    <div id="results-prediction">
                      <p id="prediction" class="title text-grads-1"></p>
                      <p id="probs"></p>
                    </div>
                  </div>
                  <a href="#" id="predict-now" class="button is-primary is-medium">Predict Now</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
  </div>
{% endblock %}