  {% extends "base.html" %}

  {% block content %}
  <div class="container">
    <section class="section is-medium section-main">
        <h1 class="text-grads-1">$v$ Money Money Money $v$</h1>
        <div class="tile is-ancestor">
          <div class="tile is-parent tile-main">
            <div class="tile is-child box box-main">
              <div class="box-intro">
                  <div class="box-intro-inner">
                    <h2 class="title text-grads-2">Show me your money!</h2>
                  </div>
              </div>
              <article class="tile is-child box-upload-file">                    
                <div id="my-camera"></div>
                <form id="form-capture-image">
                  <input type="hidden" value="" id="input-data-uri">
                  <a href="#" class="button btn-capture-image is-primary is-medium" data-amount="10000">10K</a>
                  <a href="#" class="button btn-capture-image is-info is-medium" data-amount="20000">20K</a>
                  <a href="#" class="button btn-capture-image is-success is-medium" data-amount="50000">50K</a>
                </form>
                <div id="loading"></div>
                <div id="results"></div>
              </article>
            </div>
          </div>
        </div>
      </section>
  </div>
{% endblock %}